.form {
    display: flex;
    max-width: 980px;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 340px;
    margin-top: 48px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 52px;
}

.button {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 80px;
}